{% load static %}

<div class="container p-5">
    <div class="row">
        <div class="col-lg-4 p-5">
            <div class="m-3" style="text-align:center;">
                <img src="{% static 'img_c_1.png' %}" class="d-block w-100" alt="...">
            </div>
            <h2 class="text-center">고양이</h2>
            <p>고양이는 다른 동물들보다 눈과 동공이 매우 크다. 그리고 세로 동공, 즉 '고양이 눈'은 해가 쨍쨍하게 비치는 밝은 장소로만 한정되며 집 안의 밝기 정도에서 크고 예쁜 눈을 유지한다. 눈꼬리가 위로 향해있어 요염한 느낌을 주기도 한다. 사람의 얼굴이 고양이를 닮은 것은 고양이상이라고 한다. 고양이의 두개골에는 포유류 중에서 체구 대비 가장 큰 안와(안구가 들어가는 구멍)가 있다. 눈만 큰 것이 아니라 코도 상당히 조그마하다. 그리고 발바닥엔 육구도 있다.
            </p>
            <p class="text-center"><a class="btn btn-secondary" href="#">더 보기 &raquo;</a></p>
        </div>
        <div class="col-lg-4 p-5">
            <div class="m-3" style="text-align:center;">
                <img src="{% static 'img_c_2.png' %}" class="d-block w-100" alt="...">
            </div>
            <h2 class="text-center">강아지</h2>
            <p>엄청나게 빨리 자란다. 생후 11개월 정도면 다 자란다. 소형견의 경우 약 10개월, 대형견은 1년 남짓 정도 걸린다. 보통 생후 2개월의 나이에 데려오게 되는데, 처음 데려왔을 때의 모습은 거의 한 달도 지속되지 않는다. 데려온 지 일주일만 지나도 체중이 늘고 몸이 큰 게 느껴질 뿐더러 한 달 정도가 지나면 외모가 눈에 띄게 달라지기 시작한다.</p>
            <p class="text-center"><a class="btn btn-secondary" href="#">더 보기 &raquo;</a></p>
        </div>
        <div class="col-lg-4 p-5">
            <div class="m-3" style="text-align:center;">
                <img src="{% static 'img_c_3.png' %}" class="d-block w-100" alt="...">
            </div>
            <h2 class="text-center">사과</h2>
            <p>예로부터 서양권에선 사과를 매일 하나씩 먹으면 의사 볼 일이 없다라는 속담이 있을 정도로 유명한 가을 과일 중 하나였다. 비슷한 속담이 토마토에도 있다. 그만큼 비타민C와 무기질이 많아 간식 대용으로 사과를 한 알 먹는다면 적어도 비타민C 부족에 시달릴 일은 없다.</p>
            <p class="text-center"><a class="btn btn-secondary" href="#">더 보기 &raquo;</a></p>
        </div>
    </div>
</div>